body {
    margin: 0;
    box-sizing: border-box;
    background: aliceblue;
}

@font-face {
    font-family: winona;
    src: url("./fonts/Willona_Script.ttf");
}


@font-face {
    font-family: circe;
    src: url("./fonts/Circe-Regular.ttf");
}

@font-face {
    font-family: afrah-light;
    src: url("./fonts/Afrah-Light.ttf");
}

@font-face {
    font-family: abha-reg;
    src: url("./fonts/AbhayaLibre-Regular.ttf");
}

@font-face {
    font-family: abha-bold;
    src: url("./fonts/AbhayaLibre-Bold.ttf");
}

.navigation {
    display: flex;
    position: relative;
    height: 90px;
    background: white;
}



.quote-text {
    font-size: 25px;
}

.navigation__elems {
    color: #395186;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-family: abha-reg;
    font-size: 18px;
    margin: 20px;
}

.info {
   /* background-image: url(./gallery-img/new1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    width: 100%;
    min-height: 80vh;*/
}

.imgg{
    width: 100%;
    height: auto;
    max-height: 900px;
    opacity: 90%;
}

.info__title {
    width: 100%;
    font-size: 180px;
    font-family: winona;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;

}

.pic {
    max-width: 400px;
    max-height: 700px;
    min-width: 200px;
    min-height: 250px;
    width: 100%;
    border-radius: 10px;
}

.andie {
    display: flex;
    justify-content: center;
    width: 100%;
}

.who {
    height: 100%;
    display: grid;
    width: 100%;
}

.who__title {
    margin: 50px;
    display: flex;
    font-size: 120px;
    font-family: winona;
    color: #395186;
}

.who__text {
    display: flex;
    margin: 20px;
    font-size: 24px;
    font-family: afrah-light;
}

.andie__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: abha-bold;
    padding-bottom: 50px;
    padding-top: 50px;
    color: #395186;

}



.andie__pic {
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
}


.andie__main-title {
    margin: 25px;
    display: flex;
    font-size: 120px;
    font-family: winona;
    justify-content: center;
    padding-bottom: 50px;
    color: #395186;
}

.andie__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.andie__description {
    width: 60%;
    margin: 50px;
    font-family: 'afrah-light';
    font-size: 18px;
    display: grid;
    align-content: center;
}

.banner {
    background: #AAC9D1;
    display: grid;
    align-content: space-around;
    border-radius: 10px;
}

.banner__text {
    display: flex;
    justify-content: center;
    font-family: 'abha-reg';
    font-size: 35px;
}

.andie__text {
    font-size: 18px;
}

.banner__title {
    display: flex;
    justify-content: center;
    font-family: 'abha-reg';
    font-size: 24px;
}

.testimonials__title{
    display: flex;
    font-size: 120px;
    font-family: winona;
    justify-content: center;
    padding-top: 50px;
    color: #395186;
}

.block {

    border-left: 5px solid #FFCC00;
    margin: 50px;
    font-size: 22px;
    font-family: 'afrah-light';
}

.author {
    text-align: right;
    white-space: pre-wrap;
    color: #395186;
}

.div_line_bottom {
    border-bottom: 1px solid #000;
}

.footer {
    background: #395186;
    height: 70px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__name {
    width: 50%;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    font-family: circe;
}

.footer__help {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    font-family: circe;
}

@media (max-width: 600px) {
    .navigation__elems {
        font-size: 14px;
        width: 100%;
        padding-top: 10px;
    }


    .who__text{
        font-size: 16px;
    }

    .quote-text {
        font-size: 20px;
    }



    .andie__text {
        font-size: 16px;
    }

    .footer__help {
        font-size: 14px;
    }

    .footer__name {
        font-size: 14px;
    }




}

@media (max-width: 800px) {



    .who__title{
        font-size: 60px;
    }

    .andie__main-title {
        font-size: 60px;
    }

    .testimonials__title {
        font-size: 60px;
    }




    .banner__text {
        font-size: 25px;
    }

    .andie__title {
        font-size: 20px;

    }

    .info__title {
        font-size: 60px;
    }

    .quote-text {
        font-size: 18px;
    }

    .author {
        font-size: 18px;
    }

    .who__text {
        font-size: 16px;
    }

}

@media (max-width: 480px) {

    .footer {
        display: grid;
    }

    .footer__help {
        font-size: 14px;
        width: 100%;
    }

    .quote-text {
        font-size: 16px;
    }

    .author {
        font-size: 16px;
    }

    .who__text{
        font-size: 14px;
    }

    .footer__name {
        font-size: 14px;
        width: 100%;
    }

    .andie__text{
        font-size: 14px;
    }
}

@media (max-width: 360px) {


    .andie__text {
        font-size: 12px;
    }

    .who__text {
        font-size: 12px;
    }

    .quote-text {
        font-size: 12px;
    }

    .author {
        font-size: 12px;
    }

    .who__title{
        font-size: 50px;
        margin: 10px;
    }

    .andie__main-title {
        font-size: 50px;
        margin: 10px;
        padding-bottom: unset;
    }

    .testimonials__title {
        font-size: 50px;
    }

    .info__title {
        font-size: 50px;
    }

    .andie__title {
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .banner {
        height: unset;
    }

    .banner__text {
        font-size: 14px;
    }

    .banner__title {
        font-size: 16px;
    }

    .testimonials__title {
        padding-top: 10px;
    }
}

@media (max-width: 900px) {
.andie__container {
    display: grid;
    justify-content: space-between;
    width: 100%;
    justify-items: center;
}

}

@media (max-width: 1000px) {
    .info__title {
        font-size: 120px;
    }
}





