body {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: winona;
    src: url("./fonts/Willona_Script.ttf");
}


@font-face {
    font-family: circe;
    src: url("./fonts/Circe-Regular.ttf");
}

@font-face {
    font-family: afrah-light;
    src: url("./fonts/Afrah-Light.ttf");
}

@font-face {
    font-family: abha-reg;
    src: url("./fonts/AbhayaLibre-Regular.ttf");
}

.grid-images_green {
    height: 350px;
}

.grid-images_white {
    height: 344px;
}

.grid-images_before-after {
    height: 200px;
}

.grid-images_gray {
    height: 340px;
}

.grid-images_cabinets {
    height: 360px;
}

.grid-images_rest {
    height: 300px;
}

.navigation {
    display: flex;
    position: relative;
    height: 90px;
}

.navigation__elems {
    color: #395186;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-family: circe;
    font-size: 18px;
    margin: 20px;
}

.title {
    display: flex;
    justify-content: center;
    font-family: afrah-light;
    color: #AAC9D1;
    font-size: 64px;
    margin: 50px;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
}

.info {
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
}

.general__item {
    overflow: hidden;
    height: 300px;
    padding: 10px;
}

.general__item_xl {
    height: 500px;
}


.general__item_xxl {
    height: 600px;
}


.general__item_l {
    height: 450px;
}

.general__item_m {
    height: 400px;
}

.general__item_s {
    height: 350px;
}


.general__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.general__container {
    display: flex
}

.general__col {
    width: 25%;
}

img {
    border-radius: 5px;
}

.grid-images {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
}


.footer {
    background: #395186;
    height: 70px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__name {
    width: 50%;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    font-family: circe;
}


.footer__help {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    font-family: circe;
}


/*.footer {
    background: #395186;
    height: 70px;
    align-items: center;
    display: flex;
}*/

/*.footer__name {
    width: 50%;
    padding-left: 5%;
    font-size: 16px;
    color: white;
    font-family: circe;
}*/

/*.footer__help {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    width: 50%;
    padding-left: 5%;
    font-size: 16px;
    color: white;
    font-family: circe;
}*/

@media (max-width: 1200px) {
    .general__container {
        flex-wrap: wrap;
    }
    .general__col {
        width: 50%;
    }

    .general__item {
        padding: 5px;
    }

    .general__item_l {
        height: 500px;
    }

    .general__item_s {
        height: 500px;
    }

}

@media (max-width: 600px) {
    .navigation__elems {
        font-size: 14px;
        width: 100%;
        padding-top: 10px;
    }

    .title {
        font-size: 64px;
    }

    .general__col {
        width: 100%;
    }

    .footer__help {
        font-size: 14px;
    }

    .footer__name {
        font-size: 14px;
    }

}



@media (max-width: 400px) {

}


@media (max-width: 480px) {
   /* .footer__help {
        font-size: 10px;
    }*/

  /*  .footer__name {
        font-size: 10px;
    }*/

    .footer {
        display: grid;
    }

    .general__item_l {
        height: 400px;
    }

    .general__item_s {
        height: 350px;
    }


}
